<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
   <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping> -->
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>com.sports_management.validations.Check_Credentials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPlayerToDatabase</servlet-name>
        <servlet-class>com.sports_management.validations.addPlayerToDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlayer</servlet-name>
        <servlet-class>com.sports_management.validations.DeletePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPlayer</servlet-name>
        <servlet-class>com.sports_management.validations.SearchPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnnouncementsToDatabase</servlet-name>
        <servlet-class>com.sports_management.validations.AddAnnouncementsToDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Player_From_Database</servlet-name>
        <servlet-class>com.sports_management.validations.Delete_Player_From_Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Player_From_Database</servlet-name>
        <servlet-class>com.sports_management.validations.Search_Player_From_Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventsToDatabase</servlet-name>
        <servlet-class>com.sports_management.validations.AddEventsToDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Login</servlet-name>
        <servlet-class>com.sports_management.validations.Student_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveAccountDetailsToDatabase</servlet-name>
        <servlet-class>com.sports_management.validations.saveAccountDetailsToDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPlayerToDatabase</servlet-name>
        <url-pattern>/addPlayerToDatabse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlayer</servlet-name>
        <url-pattern>/DeletePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPlayer</servlet-name>
        <url-pattern>/SearchPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnnouncementsToDatabase</servlet-name>
        <url-pattern>/AddAnnouncementsToDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Player_From_Database</servlet-name>
        <url-pattern>/Delete_Player_From_Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Player_From_Database</servlet-name>
        <url-pattern>/Search_Player_From_Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventsToDatabase</servlet-name>
        <url-pattern>/AddEventsToDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Login</servlet-name>
        <url-pattern>/Student_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveAccountDetailsToDatabase</servlet-name>
        <url-pattern>/saveAccountDetailsToDatabase</url-pattern>
    </servlet-mapping>
    <error-page>
    <error-code>404</error-code>
    <location>/ErrorPage.jsp</location>
</error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
